.page {
    width: 100vw;
    height: 100vh;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 100px;
}

.card {
    color: #fff;
    font-weight: 700;
    flex-direction: column;
    gap: 50px;
    height: 300px;
    width: 300px;
    background-color: #FFB6C1;
    border-radius: 30px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 2rem;
    a {
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 30px;
        color: #FFB6C1;
        padding: 10px;
        background-color: #fff;
        height: 40px;
        font-size: 1rem;
        text-decoration: none;
    }
}